<% unless products.blank? %>
<div class="small-container cart-page">
  <center>
<table class="cart-table">
  <tr>
    <th class="cart-th">Product</th>
    <th class="cart-th">Quantity</th>
    <th class="cart-th">Price</th>
  </tr>
  <% sum=0 %>
  <% products.each do |product| %>
  <% sum+=product.price*cart[product.id.to_s]["quantity"].to_i %>
  <tr id="product<%=product.id%>">
    <td class="cart-td">
      <div class="cart-info">
        <%= image_tag(product.picture_url, :width => 150, :height => 150 ,:radius => 10)%>
        <div>
          <p><%= product.name %></p>
          <p><%= product.about %></p>
          <small>price:<%= product.price %></small>
          <p >
            <%= link_to "Remove",user_remove_from_cart_path(product:product.id),method: :delete,class:"btn btn-primary btn-sm",data: { confirm: "Are you sure?"},remote:true%></p>
        </div>
      </div>
    </td>
    <td class="cart-td">        
        <%= form_with url:user_add_quantity_path,local: false do |form| %>
          <p>
            <%= form.hidden_field :product_id ,value:product.id %>
            <%= form.number_field :quantity ,min: 1, max: 10,:style => "width:50px",name:"quantity#{product.id}",value: cart[product.id.to_s]["quantity"] %>
          <p>
            <%= form.submit "ADD QUANTITY", class:"btn btn-secondary btn-sm"%>
          </p></td>
          <%end%>
    <td class="total" id="price<%=product.id%>"><%= number_to_currency(product.price*cart[product.id.to_s]["quantity"].to_i,unit: "₹")%></td>
  <%end%>
  </tr>
</table>
  <div class="total-price">
    <table class="cart-table">
      <tr>
        <td class="cart-td">Total</td>
        <td class="total" id="total"><%=number_to_currency(sum,unit: "₹")%> </td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align:right;"><%= link_to "Buy Now",user_orders_path(),class:"btn btn-secondary btn-sm"%></td>
      </tr>
    </table>  
  </div>  
</div>
<%= link_to "Clear Cart" ,user_cart_path(:id),method: :delete,class:"btn btn-primary",data:{ confirm: "Are you sure?" }%>
<%else%>
<center>
  <h1>No Products Added</h1>
</center>
<%end%>




  