<center>
<h5>Order Details</h5>
</center>
<table class="table table-bordered table-striped">
  <thead>
      <tr>
        <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
      </tr>
    </thead>
  <% @cart.line_items.each do |lineitem |%>  
    <tbody>
      <tr>
        <td><%= lineitem.product.name %></td>
        <td><%= lineitem.quantity %></td>
        <td><%= lineitem.price %>/-</td>
        <td><%= lineitem.price*lineitem.quantity %>/-</td>
      </tr>
  </tbody>
  <%end%>
  </table>
  <center>
  <h5>Delivery Details</h5>
  </center>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile No.</th>
          <th scope="col">Address</th>
          <th scope="col">Amount</th>
          <th scope="col">Transection</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td><%= @order.name %></td>
          <td><%= @order.email %></td>
          <td><%= @order.number %></td>
          <td><%= @order.address %></td>
          <td><%= @order.total %>/-</td>
          <td><%= @order.transection_id %></td>
          <td><%= @order.created_at.localtime %></td>
          <td><%= @order.status %></td>
      </tr>
      </tbody>
  </table>