<%= form_with model: [:supplier, product] do |form| %>
<div class="container">

<% if product.errors.any? %>
  <h2>Error</h2>
<ul>
  <% product.errors.full_messages.each do |message| %>
    <li>
      <mark><%= message%></mark>
    </li>
  <%end%>
</ul>
<%end%>
<h4>ADD <%=category.category_name%> PRODUCTS</h4><br>

  <div class="form-group">
    <%= form.hidden_field(:picture_cache)%>
    <%= form.label :Image %><br>
      <%= form.file_field(:picture)%>
  </div>
  <div>
    <%= form.hidden_field :category_name, value: "#{category.category_name}"%>
    <%= form.hidden_field :category_id, value: category.id%>
  </div>

  <div class="form-group">
    <%= form.label :product_name %><br>
    <%= form.text_field :name ,class:"form-control", style:"width:300px"%>
  </div>

  <div class="form-group">
    <%= form.label :about %><br>
    <%= form.text_area :about ,class:"form-control", style:"width:300px" %>
  </div>

  <div class="form-group">
    <%= form.label :stock %><br>
    <%= form.number_field :stock ,class:"form-control",style:"width:300px"%>
  </div>

  <div class="form-group">
    <%= form.label :price %><br>
    <%= form.number_field :price ,step: :any,class:"form-control", style:"width:300px"%>
  </div>
  <br>

  <div class="form-group">
    <%= form.submit class:"btn btn-primary"%>
  </div>

</div>

<% end %>